[submodule "vendor/cpp-common"]
	path = vendor/cpp-common
	url = git@github.com:nvsl/cpp-common.git
[submodule "vendor/interprocess"]
	path = vendor/interprocess
	url = git@github.com:boostorg/interprocess.git
[submodule "vendor/move"]
	path = vendor/move
	url = git@github.com:boostorg/move.git
[submodule "vendor/config"]
	path = vendor/config
	url = git@github.com:boostorg/config.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = git@github.com:google/googletest.git
[submodule "vendor/redis/deps/pmdk"]
	path = vendor/redis/deps/pmdk
	url = git@github.com:pmem/pmdk.git
[submodule "vendor/preeny"]
	path = vendor/preeny
	url = git@github.com:zardus/preeny.git
[submodule "vendor/spdk"]
	path = vendor/spdk
	url = git@github.com:spdk/spdk.git
