*.log
*.o
.deps/
.cache/
.clangd/
compile_commands.json
bin/
lib/
\#*#
*.a
__pycache__/
.persp
.devcontainer/
.vscode/
tmp/
out.*
perf.*
*.objdump
*.rej # Emacs rejected hunks
.so_deps
*.so
.ipynb_checkpoints/
