[submodule "vendor/cpp-common"]
	path = vendor/cpp-common
	url = git@github.com:nvsl/cpp-common.git
[submodule "vendor/interprocess"]
	path = vendor/interprocess
	url = git@github.com:boostorg/interprocess.git
[submodule "vendor/move"]
	path = vendor/move
	url = git@github.com:boostorg/move.git
[submodule "vendor/config"]
	path = vendor/config
	url = git@github.com:boostorg/config.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = git@github.com:google/googletest.git
