[submodule "vendor/cpp-common"]
	path = vendor/cpp-common
	url = https://github.com/nvsl/cpp-common.git
[submodule "vendor/interprocess"]
	path = vendor/interprocess
	url = https://github.com/boostorg/interprocess.git
[submodule "vendor/move"]
	path = vendor/move
	url = https://github.com/boostorg/move.git
[submodule "vendor/config"]
	path = vendor/config
	url = https://github.com/boostorg/config.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/redis/deps/pmdk"]
	path = vendor/redis/deps/pmdk
	url = https://github.com/pmem/pmdk.git
[submodule "vendor/preeny"]
	path = vendor/preeny
	url = https://github.com/zardus/preeny.git
[submodule "vendor/spdk"]
	path = vendor/spdk
	url = https://github.com/spdk/spdk.git
