# -*- mode: makefile; -*-

## Rules:
## - Lines starting with '#' are ignored
## - Blank lines are ignored
## - Lines are formated as key=<y|n> with no space
##
## Working:
## - Flags are available in C++ source code if '=y', example:
##     #ifdef ENABLED_FLAG_EXAMPLE
##         printf("ENABLED_FLAG_EXAMPLE is available\n");
##     #endif

# Configure which log format to use
#
# 1. LOG_FORMAT_VOLATILE would keep two lists for the log, a volatile list for
# tracking just the addresses and the size of the modified data and a second log
# in the non-volatile memory that keeps the complete record (addr, size and
# data)
#
# 2. LOG_FORMAT_NON_VOLATILE would only keep the non-volatile copy
#
# NOTE: Only one of the flags should be enabled at a time
LOG_FORMAT_VOLATILE=n
LOG_FORMAT_NON_VOLATILE=y
CXLBUF_TESTING_GOODIES=y
TRACE_LOG_MSYNC=n
